@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
//THEMES
$sidemenu-default: linear-gradient(180deg, rgba(107,56,152,1) 19%, rgba(147,48,133,1) 100%);

// COLORS PALETTE
$clear: #EBEBF3;
$default-background: #DADAEA;
$purple-clean: #DADAEA;
$purple-clean-2: #CACAD9;
$purple-medium: #C3B5C2;
$purple-medium2: #7B5E81;
$purple: #6B3898;
$purple-dark: #2A2051;

$dark-text: #292929;

//-------------------//
//       FONTS       //
//-------------------//

$font1: 'Poppins', sans-serif;
$max-width: 1200px;
