.toolbar{
    padding: 20px 30px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 3;

    &__mobile-menu{
        background: #B6B4CB;
        @include border-radius(100%);
        color: #fff;
        min-width: 60px;
        height: 60px;
        font-size: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 10px 0 -31px;
        @include respond-to('medium'){
            display: none;
        }
    }

    &__search{
        color: #fff;
        background: #B6B4CB;
        position: relative;
        width: 92%;
        height: 45px;
        @include border-radius(30px);
        @include box-shadow(10px, 11px, 25px, -7px, rgba(107,56,152,.2));
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: 0 10px;
        @include placeholder{
            color: #fff;
            font: {
                family: $font1;
                size: 13px;
            }
        }
        @include respond-to('medium'){
            width: 30%;
            height: 40px;
            background: rgba($color: $purple-dark, $alpha: .5);
        }
        &-input{
            background: transparent;
            border: none;
            color: #fff;
            width: 100%;
            margin-top: 3px;
        }
        &-icon{
            font-size: 22px;
        }

        &-suggestions{
            width: 100%;
            height: auto;
            max-height: 500px;
            background: rgba($color: $purple-dark, $alpha: .6);
            @include box-shadow(10px, 11px, 25px, -7px, rgba(107,56,152,.2));
            position: absolute;
            @include border-radius(10px 10px 30px 30px);
            top: 40px;
            left: 0;
            padding: 20px 20px 0 20px;
            overflow-y: auto;
            
            &-place{
                margin: 17px 0;
                border-bottom: solid 1px rgba(255,255,255,0.2);
                padding: 5px 0;
                background: transparent;
                color: #fff;
                font: {
                    family: $font1;
                    size: 16px;
                }
                i{
                    margin-left: 10px;
                }
            }
        }

        /* width */
        ::-webkit-scrollbar {
            width: 1px;
        }
        
        /* Track */
        ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px grey; 
        }
        
        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: $purple-dark; 
        }

    }

    &__user{
        display: inline-flex;
        align-items: center;
        position: absolute;
        right: 10px;
        @include respond-to('medium'){
            position: relative;
        }
        &-favorites{
            background: transparent;
            font-size: 20px;
            color: $purple-medium2;
            margin: 8px 20px 0 0;
            @include respond-to('medium'){
                margin: 8px 30px 0 0;
                font-size: 25px;
            }
        }
        &-button{
            width: 40px;
            height: 40px;
            @include border-radius(100%);
            @include box-shadow(10px, 12px, 25px, -6px, rgba(107,56,152,.5));
            @include respond-to('medium'){
                width: 50px;
                height: 50px;
            }
            &-img{
                width: 100%;
                object-fit: cover;
                @include border-radius(100%);
            }
        }
    }
}