@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3qvlqb');
  src:  url('fonts/icomoon.eot?3qvlqb#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3qvlqb') format('truetype'),
    url('fonts/icomoon.woff?3qvlqb') format('woff'),
    url('fonts/icomoon.svg?3qvlqb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sign-out:before {
  content: "\e90d";
}
.icon-heart:before {
  content: "\e909";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-go:before {
  content: "\e90e";
}
.icon-edit:before {
  content: "\e90c";
}
.icon-local_atm:before {
  content: "\e907";
}
.icon-search:before {
  content: "\e901";
}
.icon-shopping-cart:before {
  content: "\e908";
}
.icon-arrow-thin-right:before {
  content: "\e90a";
}
.icon-pharmacy:before {
  content: "\e900";
}
.icon-hospital:before {
  content: "\e902";
}
.icon-restaurant:before {
  content: "\e906";
}
.icon-hotel:before {
  content: "\e90b";
}
.icon-gasoline:before {
  content: "\e905";
}
.icon-menu-desktop:before {
  content: "\e903";
}
.icon-menu-mobile:before {
  content: "\e904";
}
